* {
    box-sizing: border-box;
}

.title {
    margin-bottom: 15px;
    text-align: center;
    h1 {
        font-size: 40px;
        font-weight: 300;
    }
    span {
        font-size: 20px;
        font-weight: 300;
    }
}

[class^="col"]>div {
    position: relative;
}

form {
    width: 90%;
    max-width: 460px;
    margin: 0 auto;
    label {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 400;
    }
}

button {
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
    border: none;
    background-color: $blue-200;
    font-size: 18px;
    color: $white;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

button.disabled {
    background-color: $blue-100;
    cursor: not-allowed;
}

input,
select {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 18px;
    border: 2px solid $black;
    outline: none;
}

input.warn {
    border: 2px solid $orange;
}

input:focus {
    &::placeholder {
        font-size: 0;
    }
}