// 12 欄網格
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

[class^="col"] {
    padding: 0 10px;
}

.col {
    flex: 0 0 100%;
}

.col-6 {
    flex: 0 0 50%;
}

.col-4 {
    flex: 0 0 33.333%;
}

.col-8 {
    flex: 0 0 66.666%;
}

.col-3 {
    flex: 0 0 25%;
}